[run]
branch = False

[report]
exclude_also =
    ^class KeyboardAdapter:
    ^class WindowsKeyboardAdapter\(KeyboardAdapter\):
    ^class PosixKeyboardAdapter\(KeyboardAdapter\):
    ^def create_keyboard_adapter\(platform_name: str\) -> KeyboardAdapter:
    ^def ensure_auth_file\(
    ^def load_hf_token\(
    ^def dir_size_bytes\(
    ^def human_bytes\(
    ^def is_downloaded\(
    ^def is_repo_downloaded\(
    ^def model_menu_label\(
    ^def slug_from_repo\(
    ^def normalize_hf_repo_id\(
    ^def model_to_storage_entry\(
    ^def parse_model_entry\(
    ^def save_models\(
    ^def load_models\(
    ^def whisper_ov_to_storage_entry\(
    ^def parse_whisper_ov_entry\(
    ^def save_whisper_ov_models\(
    ^def load_whisper_ov_models\(
    ^def add_whisper_ov_model_interactive\(
    ^def download_whisper_ov_model\(
    ^def download_repo_model\(
    ^def whisper_ov_status_line\(
    ^def list_whisper_ov_models\(
    ^def choose_whisper_ov_model_interactive\(
    ^def ov_tts_to_storage_entry\(
    ^def parse_ov_tts_entry\(
    ^def save_ov_tts_models\(
    ^def load_ov_tts_models\(
    ^def add_ov_tts_model_interactive\(
    ^def download_ov_tts_model\(
    ^def ov_tts_status_line\(
    ^def list_ov_tts_models\(
    ^def choose_ov_tts_model_interactive\(
    ^def _parse_tts_repo_entry\(
    ^def _load_tts_repo_models\(
    ^def load_kokoro_models\(
    ^def load_babelvox_models\(
    ^def _status_line_repo_model\(
    ^def _list_repo_models\(
    ^def _choose_repo_model_interactive\(
    ^def has_openvino_tts_artifacts\(
    ^def apply_openvino_tts_postprocess\(
    ^def find_espeak_executable\(
    ^def print_espeak_install_suggestion\(
    ^def ensure_camera_runtime\(
    ^def load_vision_labels\(
    ^def load_vision_models\(
    ^def is_valid_openvino_xml_file\(
    ^def is_vision_model_downloaded\(
    ^def download_vision_model\(
    ^def vision_model_status_line\(
    ^def list_vision_models\(
    ^def choose_vision_model_interactive\(
    ^def choose_vision_device_interactive\(
    ^def ensure_vision_runtime\(
    ^def preprocess_vision_frame\(
    ^def annotate_frame_with_detections\(
    ^def should_emit_vision_log\(
    ^def should_emit_auto_listen_log\(
    ^def should_process_vision_events\(
    ^def load_vision_event_responses\(
    ^def choose_vision_event_response\(
    ^def set_robot_face_gesture\(
    ^def handle_vision_tick\(
    ^def _vision_event_tts_worker\(
    ^def emit_vision_event_message\(
    ^def interrupt_audio_and_speak\(
    ^def open_camera_capture\(
    ^def list_camera_devices\(
    ^def stop_camera_preview\(
    ^def stop_qt_panel\(
    ^def draw_robot_face\(
    ^def build_panel_frame\(
    ^def _put_latest_panel_state\(
    ^def _qt_panel_process_main\(
    ^def ensure_camera_worker\(
    ^def start_qt_panel\(
    ^def start_camera_panel\(
    ^def start_camera_preview\(
    ^def set_camera_enabled\(
    ^def _camera_preview_worker\(
    ^def handle_panel_action\(
    ^def speak_espeak_ng\(
    ^def list_espeak_voices\(
    ^def add_model_interactive\(
    ^def load_device_compat\(
    ^def save_device_compat\(
    ^def mark_model_device_compat\(
    ^def normalize_chip_name\(
    ^def mark_runtime_chip_compat\(
    ^def model_device_badges\(
    ^def chip_marks_for_key\(
    ^def download_model\(
    ^def choose_model_interactive\(
    ^def delete_model_files\(
    ^def load_stats\(
    ^def save_stats\(
    ^def normalize_stats_schema\(
    ^def get_mode_devices\(
    ^def record_stats\(
    ^def mean\(
    ^def build_stats_rows\(
    ^def print_stats_mode_table\(
    ^def print_stats_table\(
    ^def clear_stats\(
    ^def should_probe_llm_device\(
    ^def probe_llm_pipeline_load\(
    ^def resolve_llm_device_for_load\(
    ^def load_pipeline\(
    ^def normalize_openai_base_url\(
    ^def build_external_model_descriptor\(
    ^def load_external_pipeline\(
    ^def activate_llm_from_config\(
    ^def release_llm_pipe\(
    ^def choose_from_options\(
    ^def configure_runtime\(
    ^def is_command\(
    ^def normalize_command\(
    ^def load_saved_benchmark_prompts\(
    ^def save_benchmark_prompts\(
    ^def prompt_yes_no\(
    ^def print_error_red\(
    ^def print_chip_fallback_warning\(
    ^def _openvino_tts_worker\(
    ^def ensure_kokoro_model_files\(
    ^def extract_tada_audio_output\(
    ^def ensure_tada_huggingface_compat\(
    ^def collect_benchmark_prompts\(
    ^def benchmark_models\(
    ^def build_chat_prompt\(
    ^def create_openai_chat_response\(
    ^def start_openai_compatible_server\(
    ^class OpenAICompatPipeline:
    ^def save_robot_config\(
    ^def load_robot_config\(
    ^def apply_runtime_from_config\(
    ^def list_voices\(
    ^def _coinit_windows_com\(
    ^def ensure_tts_runtime\(
    ^def speak_text_backend\(
    ^def choose_voice_interactive\(
    ^def ask_install_dependency\(
    ^def ensure_dependency\(
    ^def ensure_dependency_no_deps\(
    ^def clear_keyboard_buffer\(
    ^def set_tts_activity\(
    ^def is_tts_active\(
    ^def set_audio_playback_activity\(
    ^def audio_playback_scope\(
    ^def is_audio_playback_active\(
    ^def request_audio_cancel\(
    ^def clear_audio_cancel\(
    ^def is_audio_cancel_requested\(
    ^def is_tts_blocking_auto_listen\(
    ^def tts_activity_scope\(
    ^def consume_esc_pressed\(
    ^def record_until_space\(
    ^def whisper_local_model_path\(
    ^def whisper_model_size_info\(
    ^def resolve_audio_input_device\(
    ^def _normalized_audio_device_name\(
    ^def build_audio_monitor_frame\(
    ^def choose_audio_input_device_interactive\(
    ^def is_whisper_classic_downloaded\(
    ^def resolve_ov_whisper_language\(
    ^def ensure_stt_runtime\(
    ^def transcribe_from_mic\(
    ^def transcribe_audio_buffer\(
    ^def save_float_audio_to_wav\(
    ^def capture_tada_reference_from_mic\(
    ^def process_auto_listen_text\(
    ^def speak_wake_word_response\(
    ^def _reset_vad_segment_state\(
    ^def ms_to_frame_count\(
    ^def _finalize_vad_segment\(
    ^def prepare_auto_listen_runtime\(
    ^def stop_audio_monitor\(
    ^def _audio_monitor_worker\(
    ^def start_audio_monitor\(
    ^def _auto_listen_worker\(
    ^def stop_auto_listen\(
    ^def start_auto_listen\(
    ^def refresh_auto_listen_worker\(
    ^def split_tts_segment\(
    ^def wait_for_listen_action\(
    ^def run_listen_mode\(
    ^def show_voice_config\(
    ^def configure_voice_and_stt\(
    ^def run_chat_turn\(
    ^def print_startup_summary\(
    ^def print_startup_logo\(
    ^def print_all_models_summary\(
    ^def main\(
